body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header img {
    max-width: 100%;
    height: auto;
}

#gameContainerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; /* Ensure no extra space */
    margin-top: 0; /* Remove any top margin */
}

#gameContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 2px solid #000;
}

#recentWords {
    margin-top: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#recentWords li {
    margin: 5px 0;
    font-size: 16px;
}

#stats {
    margin-left: 20px;
    position: absolute;
    top: 150px;
    right: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

#lettersUsed, #wordsCreated, #remainingLetters, #totalScore {
    font-size: 18px;
    font-weight: bold;
}

#totalScoreWrapper {
    margin-top: 10px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 380px;
}

#totalScoreLabel {
    font-weight: bold;
    font-size: 18px;
}

#totalScore {
    font-size: 20px;
    font-weight: bold;
}

#recentWordsBox {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 20px;
    top: 50px;
    margin-top: 120px;
}

#gameContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px; /* Decrease this value if needed */
}

.clearButton {
    margin-top: 10px; /* Adjust this value to reduce space */
}

/* Add background color for buttons container */
#buttonsContainer {
    background-color: lightblue; /* Set background to light blue */
    padding: 10px;
    width: 100%; /* Ensures it takes full width */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#totalScoreWrapper {
    margin-top: 10px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 380px;
}

#dailyChallengeTopScoreWrapper {
    margin-top: 10px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 420px; /* Adjust the positioning below the total score */
}

#totalScoreLabel, #dailyChallengeTopScoreLabel {
    font-weight: bold;
    font-size: 18px;
}

#totalScore, #dailyChallengeTopScore {
    font-size: 20px;
    font-weight: bold;
}

